/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
  .message-bubble {
    max-width: 70%;
    padding: 8px 12px;
    border-radius: 10px;
    word-break: break-word;
  }
  .my-message {
    margin-left: auto;
    background-color: #2196F3;
    color: white;
    border-radius: 25px 5px 25px 25px;
  }
  
  .other-message {
    margin-right: auto;
    background-color: #e0e0e0;
    color: black;
    border-radius: 5px 25px 25px 25px;
  }
  .messages-container {
    height: calc(100vh - 64px); /* Учитываем высоту верхних элементов */
    display: flex;
    flex-direction: column;
    padding-bottom: 0px; /* Отступ от нижнего поля */
  }
  
  .messages-list {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse; /* Новые сообщения добавляются снизу */
  
  }
  .v-list {
    margin-top: auto; /* Прижимаем список к низу */
    min-height: min-content; /* Минимальная высота по содержимому */
  }
  .inputText {
    max-height: fit-content;
    flex-shrink: 0; /* Фиксируем поле ввода */
  }